<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="container">
        <%- include("header.ejs") %>
        <div class="posts-container">
                <div class="post">
                    <h3 class="username"><%= post.username %></h3>
                    <p class="message"><%= post.message %><p/>
                </div>
                <a href="/posts/<%=post.id%>/edit">edit post</a>
        </div>
    </div>
</body>
</html>
