<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="container">
    <%- include("header.ejs") %>
        <h1>Edit Posts</h1>
        <div class="posts-container">
                <form method="POST" action="/posts/<%=post.id%>?_method=PATCH" class="post">
                    <label for="username">Name : </label>
                    <h3 class="username" id="username"><%= post.username %></h3>
                    <label for="message">Message : </label>
                    <textarea name="message" id="message"><%= post.message %></textarea>

                    <button type="submit">submit</button>
                </form>
        </div>
    </div>
</body>
</html>
